html
  head
    style
      include ./../public/css/main.css
  body
    title People Application

    a.button(href="/people/") List of People
    a.button(href='/people/new') New Person

    block content