html
  head
    style
      include ./../public/css/main.css
  body
    title People Application
    h2.title People Application

    div.menu
      a.button(href="/people/") List of People
      a.button.new(href='/people/new') New Person

   
    div.container
      block content