extends ./layout

block content

  ul
    for person in people
      li.h4 #{person.firstName + ' ' + person.lastName}
      a.button(href="/people/" + person.id) Update
      a.button(href="/people/delete/" + person.id) Delete
      
